<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ACTIVITY">
	
	<!-- 체험 활동 등록 -->
	<insert id="insertActivity">
		insert into farm_activity (activity_no, farm_no, title, content, avail_number, price, is_help)
		values (farm_activity_seq.nextval, #{farmNo}, #{title}, #{content}, #{availNumber}, #{price}, #{isHelp})
	</insert>
	
	<insert id="insertActivityFile">
		insert into farm_activity_file (activity_file_no, activity_no, origin_name, file_rename, save_path, is_thumbnail)
		values (farm_activity_file_seq.nextval, farm_activity_seq.currval, #{originName}, #{fileRename}, #{savePath}, #{isThumbnail})
	</insert>
	
	<insert id="insertActivitySchedule">
		insert into farm_activity_schedule (schedule_no, activity_no, time, content, etc)
		values (activity_schedule_seq.nextval, farm_activity_seq.currval, #{time}, #{content}, #{etc})
	</insert>


	<!-- 농장 내 체험 활동 목록 조회 -->
	<select id="selectActivityListByFarmNo" resultType="ACTIVITY">
		select * from farm_activity
		where farm_no = #{farmNo}
		order by activity_no desc
	</select>
	
	<select id="selectActivityFileThumbnail" resultType="ACTIVITY_FILE">
		select * from farm_activity_file
		where is_thumbnail = 1
	</select>
	
	
	<!-- 체험 활동 상세 조회 -->
	<select id="selectActivityByActivityNo" resultType="ACTIVITY">
		select * from farm_activity
		where activity_no = #{activityNo}
	</select>
	
	<select id="selectActivityFileByActivityNo" resultType="ACTIVITY_FILE">
		select * from farm_activity_file
		where activity_no = #{activityNo}
	</select>
	
	<select id="selectActivityScheduleByActivityNo" resultType="ACTIVITY_SCHEDULE">
		select * from farm_activity_schedule
		where activity_no = #{activityNo}
	</select>


	<!-- isHelp에 따른 체험 활동 목록 조회 -->
	<select id="selectActivityList" parameterType="hashMap" resultType="ACTIVITY">
		select activity_no, farm_no, title, avail_number, price from (
			select rownum rnum, a1.*
			from (
				select * from farm_activity
					where is_help = #{isHelp}
				order by activity_no desc
			)a1
		) where rnum between #{start} and #{end}
	</select>
	
	<select id="selectActivityCnt" parameterType="int" resultType="int">
		select count(*) from farm_activity
		where is_help = #{isHelp}
	</select>


	<select id="selectFarmByFarmerNo" parameterType="FARMER" resultType="FARM">
		select * from farm
		where farmer_no = #{farmerNo}
	</select>
	
	
	<select id="selectFarmByFarmNo" resultType="FARM">
		select * from farm
		where farm_no = #{farmNo}
	</select>
	
	
	<!-- 전체 농장 목록 조회 -->
	<select id="selectFarmList" resultType="FARM">
		select * from farm
	</select>
	
	
	
	<select id="selectActivityByTitle" parameterType="hashMap" resultType="ACTIVITY">
		select activity_no, farm_no, title, avail_number, price from (
			select rownum rnum, a1.*
			from (
				select * from farm_activity
					where is_help = #{isHelp}
					and title LIKE '%' || #{title} || '%'
				order by activity_no desc
			) a1
		) where rnum between #{start} and #{end}
	</select>
	
	<select id="selectActivityByTitleCnt" parameterType="hashMap" resultType="int">
		select count(*) from (
			select * from farm_activity
			where is_help = #{isHelp}
			and title LIKE '%' || #{title} || '%'
		)
	</select>
	
	
	<select id="selectActivityByFarmName" parameterType="hashMap" resultType="ACTIVITY">
		select activity_no, farm_no, title, avail_number, price from (
			select rownum rnum, a1.*
			from (
				select a.* from farm_activity a, 
                        (select * from farm where farm_name LIKE '%' || #{title} || '%') f
					where a.farm_no = f.farm_no
                    and is_help = #{isHelp}
				order by activity_no desc
			) a1
		) where rnum between #{start} and #{end}
	</select>
	
	<select id="selectActivityByFarmNameCnt" parameterType="hashMap" resultType="int">
		select count(*) from farm_activity a, 
        	(select * from farm where farm_name LIKE '%' ||  #{title} || '%') f
        where a.farm_no = f.farm_no
        	and is_help = #{isHelp}
	</select>
	

</mapper>