<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ADMINMEMBER">
	
	<!-- 일반회원목록 -->
	<select id="selectAllUserList">
		select
		    users.*
		from (
		    select
		        rownum user_order
		        , ulist.*
		    from (
		        select
		            u.user_no
		            , u.user_id
		            , u.user_name
		            , u.phone
		            , u.email
		        from
		            user_tb u
		        order by
		           u.user_no desc
		    ) ulist
		) users 
		where
		    user_order between 1 and 10
<!-- 		    and (user_id LIKE  '%' || 'soo' || '%' -->
<!-- 		    or user_name LIKE '%' || '수수' || '%') -->
	</select>

</mapper>