<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="ADMINNOTICE">

	<resultMap type="hashmap" id="nlistMap">
		<id property="noticeNo" column="notice_no" />
		<result property="title" column="title" />
		<result property="regDate" column="reg_date" />
		<result property="adminNo" column="admin_no" />
		<result property="adminId" column="admin_id" />
	</resultMap>
	<select id="selectAllNotice" resultMap="nlistMap">
		select
		    n.notice_no
		    , n.title
		    , n.reg_date
		    , a.admin_no
		    , a.admin_id
		from
		    notice n
		    JOIN admin a
		    ON n.admin_no = a.admin_no
		order by n.notice_no desc, reg_date desc
	</select>
	
	<select id="selectCntAllNotice" resultType="int">
		select
		    count(*)
		from
		    notice
	</select>
	
	<resultMap type="hashmap" id="pagingNoticeMap">
		<id property="nrnum" column="nrnum" />
		<result property="noticeNo" column="notice_no" />
		<result property="title" column="title" />
		<result property="regDate" column="reg_date" />
		<result property="adminNo" column="admin_no" />
		<result property="adminId" column="admin_id" />
	</resultMap>
	<!-- 페이징 목록 조회 -->
	<select id="selectNoticeByAPaging" resultMap="pagingNoticeMap">
		select
		    nrank.*
		from (
		    select
		        rownum nrnum
		        , nlist.*
		    from (
		        select
		            n.notice_no
		            , n.title
		            , n.reg_date
		            , a.admin_no
		            , a.admin_id
		        from
		            notice n
		            JOIN admin a
		            ON n.admin_no = a.admin_no
		        order by n.notice_no desc, reg_date desc
		    )nlist
		)nrank
		where
		    nrnum between #{startNo} and #{endNo}
	</select>
	
	<delete id="deleteNoticeByNoticeNo" parameterType="java.util.List">
		delete from
		    notice
		where
		    notice_no in
		<foreach collection="list" 
			item="nums" 
			index="index" 
			separator="," 
			open="(" 
			close=")" >
			#{nums}
		</foreach>    
	</delete>
	
	<!-- 공지사항 파일 없이 작성 -->
	<insert id="insertNotice" parameterType="common.dto.Notice">
		INSERT INTO 
		    notice (notice_no, title, content, admin_no)
		VALUES 
		    (notice_seq.nextval, #{title}, #{content}, #{adminNo})
	</insert>
	
	<!-- 공지사항 상세 조회 -->
	<select id="selectNoticeByNoticeNo" parameterType="common.dto.Notice" resultType="common.dto.Notice">
		select
		    n.*
		    , a.admin_id
		from
		    notice n
		    JOIN
		        admin a
		    ON
		        n.admin_no = a.admin_no
		where
		    notice_no = #{noticeNo}
	</select>
	
</mapper>