<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ADMINMEMBER">
	
	<select id="selectCntAllUserList" resultType="int">
		select
		    count(*)
		from
		    user_tb
	</select>
	
	<resultMap type="hashmap" id="userlistmap">
		<result property="userOrder" column="user_order" />
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
	</resultMap>
	<!-- 일반회원목록 -->
	<select id="selectAllUserByPaging" parameterType="common.util.AdminPaging" resultMap="userlistmap">
		select
		    users.*
		from (
		    select
		        rownum user_order
		        , ulist.*
		    from (
		        select
		            u.user_no
		            , u.user_id
		            , u.user_name
		            , u.phone
		            , u.email
		        from
		            user_tb u
		        order by
		           u.user_no desc
		    ) ulist
		) users 
		where
		    user_order between #{startNo} and #{endNo}
		    <if test="search != null and search != ''">
	    	and (
		    	user_id LIKE  '%' || #{search} || '%'
    			or user_name LIKE '%' || #{search} || '%'
	    	)
		    </if>
	</select>
	
	<!-- 검색된 회원 갯수 -->
	<select id="selectCntUserBySearch" parameterType="java.lang.String" resultType="int">
		select
		    count(*)
		from
		    user_tb
		where
		    user_id LIKE  '%' || #{search} || '%'
		    or user_name LIKE '%' || #{search} || '%'
	</select>
</mapper>