<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnA">

	<insert id="insertFarmQnA">
		insert into farm_qna_question
		(farm_qna_question_no,
		farmer_no, farm_no,title, content, reg_date, hits)
		values(farm_qna_question_seq.nextval, 3, 1, #{title}, #{content},
		sysdate, 1)
	</insert>

	<select id="selectFarmQnAList"
		resultType="common.dto.FarmQnAQuestion">
		select
		farm_qna_question_no, title, farmer_no, reg_date
		from(
		select rownum rnum, n1.*
		from(
		select *
		from farm_qna_question
		order
		by
		farm_qna_question_no desc
		)n1
		)where rnum
		between #{start} and #{end}
	</select>

	<select id="selectContentCnt" resultType="int">
		SELECT count(*) FROM
		farm_qna_question
	</select>

	<resultMap type="hashMap" id="detail">
		<id column="farmer_no" property="farmerNo" />
		<result column="farm_qna_question_no"
			property="farmQnaQuestionNo" />
		<result column="title" property="title" />
		<result column="hits" property="hits" />
		<result column="reg_date" property="regDate" />
		<result column="content" property="content" />
		<result column="name" property="name" />
	</resultMap>

	<select id="selectFarmQnADetail" resultMap="detail">
		SELECT
		fq.farm_qna_question_no, fq.title, fq.hits, fq.reg_date,
		fq.content,
		fq.farmer_no, f.name
		FROM farm_qna_question fq, farmer f
		WHERE
		fq.farmer_no = f.farmer_no
		AND fq.farm_qna_question_no =
		#{farmQnaQuestionNo}
	</select>

	<delete id="deleteQnA" parameterType="int">
		DELETE FROM
		farm_qna_question
		WHERE farm_qna_question_no = #{farmQnaQuestionNo}
	</delete>
	
</mapper>