<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="MAIN">

	<resultMap type="hashmap" id="farmmap">
		<id column="farm_rank" property="farmRank" />
		<result column="farm_no" property="farmNo" />
		<result column="farm_name" property="farmName" />
		<result column="farmer_no" property="farmerNo" />
		<result column="visit" property="visit" />
		<result column="file_rename" property="fileRename"/>
	</resultMap>
	<select id="selectFarmTop3" resultMap="farmmap">
		select
		    farm_list.*
		    , farm_img.file_rename
		from (
		    select
		        rownum farm_rank
		        , all_farm.*
		    from (
		        select
		            f.farm_no
		            , f.farm_name
		            , f.farmer_no
		            , f.visit
		        from
		            farm f
		        order by f.visit desc, f.farm_name
		    ) all_farm
		) farm_list
		    LEFT OUTER JOIN
		        (
		        select 
		            efile.file_rename
		            , efile.post_no
		        from 
		            everyones_farm_file efile
		        where 
		            efile.board_no = 2
		            and efile.is_thumbnail = 1        
		        ) farm_img
		    ON
		        farm_list.farm_no = farm_img.post_no
		where farm_rank between 1 and 3
	</select>
	
	<!-- 제철 먹거리 top3 조회 -->
	<resultMap type="hashmap" id="seasonalFoodMap">
		<result property="productNo" column="product_no"/>
		<result property="productName" column="product_name"/>
		<result property="fileRename" column="file_rename"/>
	</resultMap>
	<select id="selectTop3SeasonalFood" resultMap="seasonalFoodMap">
		select
		    p_rank.product_no
		    , p_rank.name product_name
		    , product_img.file_rename
		from (
		    select
		        rownum product_rank
		        , product_list.*
		    from (
		        select 
		            * 
		        from 
		            product 
		        where 
		            is_seasonal_food = 1
		        order by
		            sales desc, product_no
		    ) product_list
		) p_rank
		    LEFT OUTER JOIN
		        (
		        select 
		            efile.file_rename
		            , efile.post_no
		        from 
		            everyones_farm_file efile
		        where 
		            efile.board_no = 4
		            and efile.is_thumbnail = 1
		        ) product_img
		    ON
		        p_rank.product_no = product_img.post_no
		where
		    p_rank.product_rank between 1 and 3
	</select>

</mapper>