<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="MAIN">

	<resultMap type="hashmap" id="farmmap">
		<id column="farm_rank" property="farmRank" />
		<result column="farm_no" property="farmNo" />
		<result column="farm_name" property="farmName" />
		<result column="farmer_no" property="farmerNo" />
		<result column="visit" property="visit" />
<!-- 		<result column="farm_file_no" property="farmFileNo" /> -->
<!-- 		<result column="save_path" property="savePath" /> -->
<!-- 		<result column="is_thumbnail" property="isThumbnail" /> -->
	</resultMap>
	<select id="selectFarmTop3" resultMap="farmmap">
		select
		    *
		from (
		    select
		        rownum farm_rank
		        , all_farm.*
		    from (
		        select
		            f.farm_no
		            , f.farm_name
		            , f.farmer_no
		            , f.visit
		        from
		            farm f
		        order by f.visit desc, f.farm_name
		    ) all_farm
		) rank
		where farm_rank between 1 and 3
	</select>

</mapper>