<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "MYPAGEACTIVITY">

	
	<!-- application과 activity 테이블 조인위한 맵 -->
	<resultMap type="hashmap" id="testmap">
		<id property="farmerNo" column="FARMER_NO" />
		<result property="farmNo" column="FARM_NO" />
		<result property="activityNo" column="ACTIVITY_NO" />
		<result property="title" column="TITLE" />
		<result property="applicayionNo" column="APPLICTION_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="applicantName" column="APPLICANT_NAME" />
		<result property="activityDate" column="ACTIVITY_DATE" />
		<result property="isApproval" column="IS_APPROVAL" />
	</resultMap>
	
										<!-- 농장체험 -->
	
	<!-- 농장체험 리스트 1부터 10까지 페이징 -->
	<select id ="listPage" resultMap="testmap">
		select p.*
		from (
		SELECT ROWNUM RNUM, r.* 
		FROM(
        select
            f.farmer_no
            , farm.farm_no
            , fa.activity_no
            , fa.title
            , a.application_no
            , a.user_no
            , a.applicant_name
            , a.activity_date
            , a.is_approval
        from
            farmer f
            , farm
            , farm_activity fa
            , application a
        where
            f.farmer_no = farm.farmer_no
            and farm.farm_no = fa.farm_no
            and fa.activity_no = a.activity_no
            and farm.farmer_no = #{farmerNo} and is_help=0 
        )r
        )p
        where RNUM BETWEEN #{cri.rowStart} and #{cri.rowEnd} order by APPLICATION_NO
	</select>   

	
	<!-- 농장체험 내역 리스트 총 페이지 수 -->
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(ACTIVITY_NO)
		  FROM Farm_Activity
		 WHERE ACTIVITY_NO > 0
	]]>
	</select>
	
	<!-- 업데이트 승인 미승인 -->
	<update id="update" parameterType="common.dto.Application">
		update application set is_approval = #{isApproval} 
		where application_no = #{applicationNo}
	</update>
	
	<!-- 하나의 테이블 컬럼 조회하기 위해서  승인 미승인 할 때 필요 -->
	<select id="selectOne" resultType="common.dto.Application" parameterType="common.dto.Application">
		select * from application where application_no = #{applicationNo}
	</select>
	
	
	
									<!-- 일손체험 -->
									
									
									<!-- 농장체험 리스트 1부터 10까지 페이징 -->
	<select id ="listPage2" resultMap="testmap">
	select p.*
		from (
		SELECT ROWNUM RNUM, r.* 
		FROM(
        select
            f.farmer_no
            , farm.farm_no
            , fa.activity_no
            , fa.title
            , a.application_no
            , a.user_no
            , a.applicant_name
            , a.activity_date
            , a.is_approval
        from
            farmer f
            , farm
            , farm_activity fa
            , application a
        where
            f.farmer_no = farm.farmer_no
            and farm.farm_no = fa.farm_no
            and fa.activity_no = a.activity_no
            and farm.farmer_no = #{farmerNo} and is_help=1
        )r
        )p
        where RNUM BETWEEN #{cri.rowStart} and #{cri.rowEnd} order by APPLICATION_NO
		
	</select>   
	
	<!-- 농장체험 내역 리스트 총 페이지 수 -->
	<select id="listCount2" resultType="int">
	<![CDATA[
		SELECT COUNT(ACTIVITY_NO)
		  FROM Farm_Activity
		 WHERE ACTIVITY_NO > 0
	]]>
	</select>
	
	
	
	
</mapper>