<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "MYPAGEACTIVITY">
	<!-- application과 activity 테이블 조인위한 맵 -->
	<resultMap type="hashmap" id="applicationAndactivityandfarm" >

		<id property="farmerNo" column="FARMER_NO" />
		<result property="farmNo" column="FARM_NO" />
		<result property="activityNo" column="ACTIVITY_NO" />
		<result property="title" column="TITLE" />
		<result property="applicayionNo" column="APPLICTION_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="applicantName" column="APPLICANT_NAME" />
		<result property="activityDate" column="ACTIVITY_DATE" />
		<result property="isApproval" column="IS_APPROVAL" />
		<result property="people" column="PEOPLE" />
	</resultMap>
	

										<!-- 농장체험 -->
	
	<!-- 농장체험 리스트 1부터 10까지 페이징 -->
	<select id ="listPage" resultMap="applicationAndactivityandfarm">
		select p.* from(
        select rownum rnum, r.* FROM(
        select J.farmer_no, J.farm_no, apl.activity_no, apl.is_approval,apl.people,
        J.title, apl.application_no, apl.user_no, apl.applicant_name, apl.activity_Date from application apl, 
        (select A.*, f.farmer_no from farm_activity A, (select farmer_no, farm_no from farm) f where A.farm_no = f.farm_no) J
        where apl.activity_no =J.activity_no AND J.is_help = 0
        AND J.farm_no = #{farmerNo} order by application_no desc) r) p
       where RNUM BETWEEN #{cri.rowStart} and #{cri.rowEnd} order by APPLICATION_NO desc
	</select>   
	
	<!-- 농장체험 내역 리스트 총 페이지 수 -->
	<select id="listCount" resultType="int">
	<![CDATA[
		select
            COUNT(*)
        from
            farmer f
            , farm
            , farm_activity fa
        where
        	is_help = 0 and
            f.farmer_no = farm.farmer_no
            and farm.farm_no = fa.farm_no
            and f.farmer_no = #{farmerNo} and fa.ACTIVITY_NO > 0
	]]>
	</select>
	
	<!-- 업데이트 승인 미승인 -->
	<update id="update" parameterType="common.dto.Application">
		update application set is_approval = #{isApproval} 
		where application_no = #{applicationNo}
	</update>
	
	<!-- 하나의 테이블 컬럼 조회하기 위해서  승인 미승인 할 때 필요 -->
	<select id="selectOne" resultType="common.dto.Application" parameterType="common.dto.Application">
		select * from application where application_no = #{applicationNo}
	</select>
	
	
	
									<!-- 일손체험 -->
	<select id ="listPage2" resultMap="applicationAndactivityandfarm">
		select p.* from(
        select rownum rnum, r.* FROM(
        select J.farmer_no, J.farm_no, apl.activity_no, apl.is_approval,apl.people,
        J.title, apl.application_no, apl.user_no, apl.applicant_name, apl.activity_Date from application apl, 
        (select A.*, f.farmer_no from farm_activity A, (select farmer_no, farm_no from farm) f where A.farm_no = f.farm_no) J
        where apl.activity_no =J.activity_no AND J.is_help = 1
        AND J.farm_no = #{farmerNo} order by application_no desc) r) p
       where RNUM BETWEEN #{cri.rowStart} and #{cri.rowEnd} order by APPLICATION_NO desc
		</select>
	
	<!-- 농장체험 내역 리스트 총 페이지 수 -->
	<select id="listCount2" resultType="int">
	<![CDATA[
		select
            COUNT(*)
        from
            farmer f
            , farm
            , farm_activity fa
        where
        	is_help =1 and 
            f.farmer_no = farm.farmer_no
            and farm.farm_no = fa.farm_no
            and f.farmer_no = #{farmerNo} and fa.ACTIVITY_NO > 0
	]]>
	</select>
	
</mapper>