<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <!-- user와 order를 엮은 쿼리 -->
    <mapper namespace="MYPAGESELL">
    
    
    
    	<resultMap type="hashmap" id="TBOrderAndProduct">
			<id property="farmerNo" column="farmer_no" />
			<result property="orderNo" column="order_no" />
			<result property="orderAmount" column="order_amount" />
			<result property="orderDate" column="order_date" />
			<result property="paymentStatus" column="payment_status" />
			<result property="userName" column="user_name" />
			<result property="name" column="NAME" />
			
			</resultMap>
			
			
    <!-- user와 order를 엮은 쿼리 -->
   	<select id="listPage" resultMap="TBOrderAndProduct">
   	
 		    select p.*
		    from (
		    select RowNum rnum,
		    r.*
		    from 
		    (
		    select o.order_no,o.order_amount,o.order_date,o.payment_status,us.user_name , pro.name, o.farmer_no
		    from 
		    tb_order o , user_tb us , PRODUCT_OPTION pro  , farmer f
		    where 
		    1=1 and o.user_no = us.user_no 
		    and 
		    o.OPTION_NO = pro.OPTION_NO
		    and f.farmer_no=o.farmer_no)
		    r
		    )p
      		where rnum BETWEEN  #{cri.rowStart} and #{cri.rowEnd}
		   
    	</select>
    	
     <!-- 판매내역 리스트 총 페이지 수 -->
	<select id="listCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			  FROM tb_order
		 WHERE order_no > 0 and farmer_no = #{farmerNo}
		]]>
	</select>
	
	<!-- 업데이트 승인 미승인 -->
	<update id="update" parameterType="common.dto.TBOrder">
		update tb_order set payment_status = #{paymentStatus} 
		where order_no = #{orderNo}
	</update>
	
	<!-- 하나의 테이블 컬럼 조회하기 위해서  승인 미승인 할 때 필요 -->
	<select id="selectOne" resultType="common.dto.TBOrder" parameterType="common.dto.TBOrder">
		select * from  tb_order where order_no = #{orderNo}
	</select>
	
	
    </mapper>