<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="USER">
	<insert id="insertUser" parameterType="common.dto.UserTB">
		insert into user_tb (user_no, user_id, user_pw, user_name, email, phone, is_leave, is_pause, zonecode, first_address, second_address)
		values( user_seq.nextval, #{userId}, #{userPw}, #{userName}, #{email}, #{phone}, 0, 0, #{zoneCode}, #{firstAddress}, #{secondAddress} )
	</insert>
	
	<select id="selectUser" resultType="common.dto.UserTB">
		select user_id, user_pw, user_name, email, phone
		from user_tb
		where user_id = #{userId} and user_pw = #{userPw} and is_leave = 0 and is_pause = 0
	</select>

	<select id="selectIdCheck" resultType="int">
		select count(*) from user_tb
		where user_id = #{userId}
	</select>
	
	<select id="selectEmailCheck" resultType="int">
		select count(*) from user_tb
		where email = #{email}
	</select>
	
	<select id="selectPhoneCheck" resultType="int">
		select count(*) from user_tb
		where phone = #{phone}
	</select>
	
	<select id="selectId" resultType="common.dto.UserTB">
		select user_id from user_tb
		where user_name= #{userName} and phone = #{phone}
	</select>
	
	<select id="selectPw" resultType="common.dto.UserTB">
		select * from user_tb
		where user_id= #{userId} and email = #{email}
	</select>
	
	<update id="updatePw">
		update user_tb
		set user_pw = #{userPw} where user_id=#{userId}
	</update>
	
</mapper>
