@charset "UTF-8";
.main__admin {
	margin: 60px 0;
}
/* 최근 농장 입점신청 목록 */
.main__admin .admin__farm-list
, .main__admin .admin__qna-list {
	width: 900px;
}
.main__admin .admin__farm-list {
    margin: 0 auto 50px;
}
.main__admin .admin__qna-list {
	margin: 0 auto;
}
/* 최근 농장 입점신청 목록 - 제목 */
.admin__farm-list .farm-list__title
, .admin__qna-list .qna-list__title {
	margin-bottom: 20px;
}
.admin__farm-list .farm-list__title > span
, .admin__qna-list .qna-list__title > span {
	padding-left: 7px;
    border-left: 3px solid #789F6F;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.7;
}
/* 최근 농장 입점신청 목록 - 테이블 */
.farm-list__table .farm-table
, .qna-list__table .qna-table {
    width: 100%;
	border-top: 1px solid #605759;
	border-bottom: 1px solid #605759;
	border-collapse: collapse;
}
/* 테이블의 row, 행 */
.farm-table tr
, .qna-table tr {
	border-bottom: 1px solid #605759;
}
.farm-table tr:hover
, .qna-table tr:hover {
	background: #E9F7AB;
	cursor: pointer;
}
.farm-table tr:first-child:hover
, .qna-table tr:first-child:hover {
	background: #D1E9CA;
	cursor: default;
}
/* 테이블의 th, td */
.farm-table th
, .farm-table td
, .qna-table th
, .qna-table td {
	padding: 14px 7px;
	text-align: center;
}
/* th width 크기 */
.farm-table .farm-table__head th:first-child {
	width: 15%;
}
.farm-table .farm-table__head th:nth-child(2)
, .farm-table .farm-table__head th:last-child {
	width: 25%;
}
.farm-table .farm-table__head th:nth-child(3) {
	width: 35%;
}
/* table 에 thead */
.farm-table .farm-table__head
, .qna-table .qna-table__head {
    background: #D1E9CA;
}
/* 농업인 입점신청 목록으로 가기 버튼 */
.admin__farm-list .farm-list__btn-wrap
, .admin__qna-list .qna-list__btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.farm-list__btn-wrap .farm-list__btn
, .qna-list__btn-wrap .qna-list__btn {
	padding: 7px 14px;
    background: #EAE891;
    border-radius: 3px;
    cursor: pointer;
}
.farm-list__btn-wrap .farm-list__btn:hover
, .qna-list__btn-wrap .qna-list__btn:hover {
	font-weight: 700;
	background: #E2CC6C;
}
/* 문의 목록 테이블 */
.qna-table .qna-table__head th:nth-child(2) {
	width: 40%;
}
.qna-table .qna-table__head th:first-child
, .qna-table .qna-table__head th:last-child
, .qna-table .qna-table__head th:nth-child(3)
, .qna-table .qna-table__head th:nth-child(4) {
	width: 15%;
}
/* 제목이 너무 긴 경우 */
.qna-table__body .qna-table__title-overflow {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 360px;
}
/* 작성자 이름이 긴 경우 */
.qna-table__body .qna-table__name-overflow {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}