<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- FarmActivity 관련 typeAliases -->
	<typeAliases>
		<typeAlias type="common.dto.Farm" alias="FARM"/>
		<typeAlias type="common.dto.FarmActivity" alias="ACTIVITY"/>
		<typeAlias type="common.dto.EveryonesFarmFile" alias="FILE"/>
		<typeAlias type="common.dto.FarmActivitySchedule" alias="ACTIVITY_SCHEDULE"/>
		<typeAlias type="common.dto.Farmer" alias="FARMER"/>
		
		
		<!-- 마이페이지 User -->
		<typeAlias type="common.dto.UserTB" alias="USERTB"/>
		<typeAlias type="common.dto.QuestionOneonone" alias="O3"/>
		<typeAlias type="common.dto.TBOrder" alias="TBORDER"/>
		
	</typeAliases>
	
	<mappers>
    
		<!-- mapper 파일 만들면 넣기 -->
		<mapper resource="/mybatis/mapper/mypagedailyMapper.xml" />
		<mapper resource="/mybatis/mapper/mypageactivityMapper.xml" />
		<mapper resource="/mybatis/mapper/mypagesellMapper.xml" />
		<mapper resource="/mybatis/mapper/mainMapper.xml" />
		<mapper resource="/mybatis/mapper/noticeMapper.xml" />
		<mapper resource="/mybatis/mapper/testMapper.xml" />
		<mapper resource="/mybatis/mapper/userMapper.xml" />
		<mapper resource="/mybatis/mapper/farmerMapper.xml" />
		<mapper resource="/mybatis/mapper/dailyMapper.xml" />
		<mapper resource="/mybatis/mapper/activityMapper.xml" />
		<mapper resource="/mybatis/mapper/farmdiaryMapper.xml"/>
		<mapper resource="/mybatis/mapper/productMapper.xml"/>
		<mapper resource="/mybatis/mapper/farmqnaMapper.xml"/>

		<mapper resource="/mybatis/mapper/review.xml" />
    
		<!-- ActivityController에서 사용하는 mapper -->
<!-- 		<mapper resource="/mybatis/mapper/activityMapper.xml" /> -->
    <!-- <mapper resource="/mybatis/mapper/mypageUser.xml" /> -->
    
    	<!-- admin login mapper 파일 -->
    	<mapper resource="/mybatis/mapper/adminLoginMapper.xml" />
    	<mapper resource="/mybatis/mapper/adminMainMapper.xml" />
    	<mapper resource="/mybatis/mapper/adminNoticeMapper.xml" />
    	<mapper resource="/mybatis/mapper/mypageUser.xml" />
	</mappers>
</configuration>