@charset "UTF-8";

.farmer{
	
	border: 5px solid #EAE891;
	padding: 30px;
	width: 1000px;
	margin: 300px auto 200px auto;
}

input[type="checkbox"] {
    display:none;
}

input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
}

input[type=checkbox]+ label:before {     

    content: "";  
    display: inline-block;  
  
    width: 20px;  
    height: 20px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #789F6F;  
    border-radius: 10px; 
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}
input[type=checkbox]:checked + label:before { 

    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 18px; 
    font-weight:800; 
    color: #D1E9CA;  
    background:#789F6F;
    text-align: center;  
    line-height: 18px;  

} 

textarea{
	width: 90%;
    margin: 20px;
    height: 150px;
}

input[type=button]{
	
	padding: 10px 40px;
	background-color: #D1E9CA;
	border-color: #D1E9CA;
    box-sizing: border-box;
    border-radius: 5px;
}

button:hover {
	background-color: #789F6F;
}


.find{
	width: 200px;
	margin-top: 15px;
	margin-bottom: 5px;
}
