@charset "UTF-8";
.notice-write__main {
	margin: 70px auto;
	width: 900px;
}
/* 공지사항 작성 제목 */
.notice-write__main .notice-write__title {
	margin-bottom: 20px;
}

.notice-write__title .notice-write__title-text {
	font-size: 20px;
	font-weight: 700;
	opacity: 0.7;
	padding-left: 7px;
	border-left: 3px solid #789F6F;
}
/* 공지사항 작성 폼 */
.notice-write__main .notice-write__form-wrap {
	margin-bottom: 20px;
}
/* input[type=text] css 초기화 */
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}
/* 공지사항 제목 */
.form-wrap__list .list__input-title {
    width: 100%;
    height: 45px;
    padding: 7px 14px;
    border: 2px solid #789F6F;
    border-radius: 3px;
    margin-bottom: 20px;
}
/* 공지사항 textarea */
.form-wrap__list .list__textarea {
    width: 100%;
    height: 350px;
    padding: 7px 14px;
    border-radius: 3px;
    border: 2px solid #789F6F;
    outline: none;
}
.form-wrap__list .list__textarea:focus
, .form-wrap__list .list__input-title:focus {
    border: 2px solid #605759;
}
/* 공지사항 버튼 */
.notice-write__main .notice-write__btn-wrap{
	display: flex;
    justify-content: center;
}
.notice-write__btn-wrap .btn {
    background: #E2CC6C;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
}
.notice-write__btn-wrap .btn:hover{
	background: #D1E9CA;
}
/* 취소버튼 */
.notice-write__btn-wrap .cancel-btn {
	margin-left: 7px;
}