@charset "UTF-8";

* {
	box-sizing: none;
}

.activity-content {
	width: 980px;
	margin: 10px auto 50px;
}

.activity-top {
	background-color: #f0f0f0;
	height: 250px;
}

.top-title {
	font-size: 1.6em;
	display: inline-block;
	position: relative;
	top: 100px;
<<<<<<< HEAD
	left: 50px;
=======
>>>>>>> 4f609ed6ae2026061686ed652541ba063ad3fa05
}

.title-img {
	display: inline-block;
	position: relative;
	float: right;
<<<<<<< HEAD
	bottom: -15px;
	right: 80px;
=======
	bottom: 35px;
>>>>>>> 4f609ed6ae2026061686ed652541ba063ad3fa05
}

.experience-title, .help-title {
	margin-top: 70px;
}

.no-activity {
	color: #777777;
	margin: 20px 0 0 15px;
}

.row {
	padding: 7px;
<<<<<<< HEAD
	width: 270px;
=======
	width: 284px;
>>>>>>> 4f609ed6ae2026061686ed652541ba063ad3fa05
	height: 360px;
	display: inline-block;
	margin: 40px 19px 40px;
}

.row:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

.activity-list {
	margin-top: 50px;
}

.thumb-image {
	width: 270px;
	height: 270px;
}

.caption-title {
	font-weight: bold;
	font-size: 1.2em;
	margin: 12px 0 5px;
}

.caption-content {
	color: #68bb59;
}

.load {
	display: inline-block;
	width: 980px;
	text-align: center;
	height: 43px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding-top: 17px;
	cursor: pointer;
	margin-bottom: 30px;
}

.btnForm {
    border: none;
    outline: none;
    background-color: #fec576;
    width: 95px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
	font-size: 14px;
    cursor: pointer;
    float: right;
<<<<<<< HEAD
    margin: 30px 40px 70px 0;
=======
	margin-right: 40px;
>>>>>>> 4f609ed6ae2026061686ed652541ba063ad3fa05
}

.btnForm:hover {
	background-color: #ffd399;
}


