@charset "UTF-8";

.activity-top {
	height: 300px;
	background-image: url('../../image/activity/experience_top.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: 100%;
}

.top-title {
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	position: relative;
	left: 100px;
	top: 45%;
}

.top-sub {
	display: inline-block;
	position: relative;
	font-size: 1.9em;
	color: #c5c5c5;
	font-style: italic;
	left: 10px;
    top: 36%;
}

.activity-content {
	width: 980px;
	margin: 10px auto 50px;
}

.row {
	padding: 7px;
	width: 270px;
	height: 400px;
	display: inline-block;
	margin: 40px 19px 40px;
}

.row:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

.list-image {
	width: 270px;
	height: 270px;
}

.activity-title {
	display: inline-block;
}

.activity-search {
	text-align: right;
	margin: 50px 23px 0;
	vertical-align: middle;
}

.caption-title {
	font-weight: bold;
	font-size: 1.2em;
	margin: 12px 0 5px;
}

.caption-content {
	font-size: 0.9em;
	margin-bottom: 3px;
}

.filter {
    width: 120px;
    height: 41px;
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-image: url('../../image/activity/drop_down.png');
    background-position: 88% 50%; 
    background-repeat: no-repeat;
    background-size: 14px 16px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    vertical-align: middle;
}

.filter:focus {
	outline: none;
	border: 1px solid #68bb59;
}

.title {
<<<<<<< HEAD
	height: 31px;
=======
	height: 41px;
>>>>>>> 4f609ed6ae2026061686ed652541ba063ad3fa05
	border: 1px solid #ccc;
    vertical-align: middle;
    width: 200px;
    padding-left: 10px;
}

.title:focus {
	outline: none;
	border: 1px solid #68bb59;
}

.btnSearch {
	background-color: #fff;
	border: none;
	width: 50px;
	height: 35px;
    vertical-align: middle;
	outline: none;
	margin-left: -57px;
}

.btnSearch:hover {
	cursor: pointer;
}

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* 페이지네이션 */
.paging {
	height:10%;
	font-size:1.5vw;
	width: 100%;
	text-align: center;
	margin: 30px 0;
}

.paging-in a {
	display: inline-block;
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
}

a:link, a:visited {
	color: #000000;
}

.paging-in .num:active, .paging-in .num:hover {
	background-color: #68bb59;
	color: #fff;
}

.paging .first {
	background: #f8f8f8 url('../../image/activity/page_pprev.png') no-repeat center center;
	margin-left: 0;
}

.paging .prev {
	background: #f8f8f8 url('../../image/activity/page_prev.png') no-repeat center center;
/* 	margin-right: 7px; */
}

.paging .next {
	background: #f8f8f8 url('../../image/activity/page_next.png') no-repeat center center;
/* 	margin-left: 7px; */
}

.paging .last {
	background: #f8f8f8 url('../../image/activity/page_nnext.png') no-repeat center center;
	margin-right: 0px;
}

.paging-in {
	display: inline-block;
	border: 1px solid #e6e6e6;
	width: 30px;
	height: 30px;
}

.pre {
	margin-right: 7px;
}

.nex {
	margin-left: 7px;
}

.paging-in .green {
	background-color: #68bb59;
	color: #fff;
}
